{% if site.data.awards %}
<section class="section awards-section">

  <h2 class="section-title"><i class="fa fa-trophy"></i>Honours and Awards</h2>

{% for award in site.data.awards %}
  <div class="item-condensed">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title right">{{ award.title }}</h3>
        <div class="time-left">{{ award.year }}</div>
      </div><!--//upper-row-->

    </div><!--//meta-->

  </div><!--//item-->
{% endfor %}

</section><!--//section-->
{% endif %}
