{% if site.data.publadd %}
<section class="section publadd-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Additional Publications</h2>

  {% for intro in site.data.publadd %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for project in site.data.publadd %}
    <div class="item">

      <span class="project-title"><a href="{{ project.link }}">{{ project.title }}</a></span>

      {% if project.authors %}
      - <span class="project-tagline">{{ project.authors }}</span>
      </div><!--//details-->
      {% endif %}
      
      {% if project.journal %}
      <div class="details">
      <p>{{ project.journal }}</p>
      {% endif %}
        
      {% if project.details %}
      <div class="details">
      <p>{{ project.details }}</p>
       </div><!--//details-->
      {% endif %}
      
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
