{% if site.data.skills %}
<section class="section skills-section">

  <h2 class="section-title"><i class="fa fa-rocket"></i>Skills and Techniques</h2>

  {% for intro in site.data.skills %}
  <div class="intro">
      <p>{{ intro.description }}</p>
  </div><!--//intro-->
  {% endfor%}

  {% for skill in site.data.skills %}
    <div class="item">

      <span class="skill-title"><a href="{{ skill.link }}">{{ skill.title }}</a></span>
  
      {% if skill.details %}
      - <span class="project-tagline">{{ skill.details }}</span>
      {% endif %}
      
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
